<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tabby>
            <tabby_sub>
                <enabled>0</enabled>
                <skus></skus>
            </tabby_sub>
        </tabby>
    </default>
</config>
