<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="tabby">
                <group id="tabby_sub" translate="label" type="text" sortOrder="5"
                    showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Additional Merchant ID</label>
                    <field id="enabled" translate="label" type="select" sortOrder="10"
                        showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable Additional Merchant ID</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>tabby/tabby_sub/enabled</config_path>
                        <comment>Enable/disable an additional Merchant ID</comment>
                    </field>
                    <field id="skus" translate="label" type="textarea" sortOrder="20" showInDefault="1"
                        showInWebsite="1" showInStore="0">
                        <label>SKUs for additional Merchant ID</label>
                        <config_path>tabby/tabby_sub/skus</config_path>
                        <comment>List of SKUs(one per line) that will use a different Merchant ID 
with separate payment plans</comment>
                        <depends>
                            <field id="payment/other/tabby/tabby_sub/enabled">1</field>
                        </depends>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
